body{
  background: #f0f8ff;
   width: 40%;
    margin: auto;
    margin-top: 150px;
   }
legend{
    color:#d32f2f;
    font-weight: bold;
    font-size: 25px;
    padding:10px;
}
fieldset {
    border: 3px solid #42a5f5;
    
 }
  
 input[type="text"],
 input[type="password"]{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
   }
  label{
    color:#8b0000;
    font-weight: bold;
  }
  button{
    color:#8b0000;
      padding: 10px 15px;
      display: block;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    border: 2px solid #ccc ;
   }
  a{
    text-decoration: none;
  }
  input[type="text"],
 input[type="password"],
 input[type="checkbox"],
 label.space{
    margin-left: 20px;
   }